.cid-qyvisAZ1Bw {
    padding-top: 135px;
    padding-bottom: 90px;
  }
  .cid-qyvisAZ1Bw H1 {
    color: #232323;
  }
  .cid-qyvisAZ1Bw P {
    color: #232323;
  }
  .cid-qyvisAZ1Bw H3 {
    color: #232323;
  }


  .cid-qyvcqB36eR {
    padding-top: 135px;
    padding-bottom: 135px;
    background-color: #d2d2d2;
  }


.cid-qyvf5AQs7c {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f2f2f2;
  }
  .cid-qyvf5AQs7c .carousel-item {
    justify-content: center;
  }
  .cid-qyvf5AQs7c .carousel-item.active,
  .cid-qyvf5AQs7c .carousel-item-next,
  .cid-qyvf5AQs7c .carousel-item-prev {
    display: flex;
  }
  .cid-qyvf5AQs7c .carousel-controls a {
    transition: opacity .5s;
    font-size: 2rem;
  }
  .cid-qyvf5AQs7c .carousel-controls a span {
    position: absolute;
    top: 180px;
    padding: 10px;
    border-radius: 50%;
    color: #585858;
    background: #c8c6c6;
    opacity: .5;
  }
  .cid-qyvf5AQs7c .carousel-controls a:hover span {
    opacity: 1;
  }
  .cid-qyvf5AQs7c .user_image {
    width: 200px;
    height: 200px;
    margin-bottom: 1.6rem;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 2rem auto;
  }
  .cid-qyvf5AQs7c .user_image img {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
  }
  @media (max-width: 230px) {
    .cid-qyvf5AQs7c .user_image {
      width: 100%;
      height: auto;
    }
  }