div.ex1 {
    max-width: 500px;
    margin-left: auto; 
    margin-top: 10px; 
    margin-right: auto; 
    margin-bottom: 10px;
  }
  
  div.ex2 {
    max-width: 500px;
    margin-left: auto; 
    margin-top: 10px; 
    margin-right: auto; 
    margin-bottom: 10px;
  }